<html lang="pt-br">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
      <title>Registrar- EasyBoard</title>
      <link rel="stylesheet" href="">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
      
   </head>
   <body class="bg-gradient-primary">
      <div class="container">
         <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
               <div class="row">
                  <div class="col-lg-5 d-none d-lg-flex">
                     <div class="flex-grow-1 bg-login-image" style="background-image: url('https://img.freepik.com/fotos-premium/ferramentas-uteis-amarelas-e-pretas-empilhadeiras-e-chave-de-fenda-isoladas-em-fundo-amarelo_255667-7145.jpg')"></div>
                  </div>
                  <div class="col-lg-7">
                     <div class="p-5">
                        <div class="text-center">
                           <h4 class="text-dark mb-4">Criar uma conta!</h4>
                        </div>
                        <form action="{{url_for('cadastro.abrir_cadastro')}}" method="post" class="user">
                           <div class="row mb-3">
                              <input id="exampleFirstName" class="form-control form-control-user" type="email" placeholder="E-mail" name="email"/>
                              <p style="color: red;">{{mensagem}} </p>
                              <input id="exampleFirstName-1" class="form-control form-control-user"maxlength="14" type="text" placeholder="cpf" name="cpf" style="margin-top: 12px;" />
                              <p style="color: red;">{{msg}}</p>
                               <script src="../static/cadastro.js"></script>
                           </div>
                           <div class="mb-3"></div>
                           <div class="row mb-3">
                              <input id="examplePasswordInput" class="form-control form-control-user" type="password" placeholder="senha" name="senha" />
                           </div>
                           <button class="btn btn-primary d-block btn-user w-100" type="submit">Registrar Conta</button>
                           <hr />
                        </form>
                        <div class="text-center"></div>
                        <div class="text-center">
                           <a class="small" href="login">Já possui uma conta? Login!</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>